/*for header*/
header {
    top: 0%;
    background-color: #3f4a91;
    min-width: 100%;
    position: fixed;
    left: 0%;
}

/*footer*/
footer {
    bottom: 0%;
    background-color: #c0c0c2;
    min-width: 100%;
    position: fixed;
    left: 0%;
    padding: 0.5%;
}

/*footer*/
#copy-right {
    margin-left: 0.5%;
    font-family: Calibri;
}

/*heading in the header*/
#truYum {
    color: #ffffff;
    margin-left: 1%;
    position: fixed;
    top: 1%;
    font-size: 25px;
    font-family: Calibri;
}

/*image Logo*/
#image-img {
    margin-left: 6%;
}

/*for title menu*/
nav a {
    font-size: 19px;
    margin-left: 90%;
    top: 1%;
    position: fixed;
    color: #ffffff;
    font-family: Calibri;
}

/*Menu title*/
#menu-heading {
    top: 15%;
    position: fixed;
    margin-left: 6%;
    font-size: 30px;
    font-family: Calibri;
}

/*all tables*/
.table {
    top: 25%;
    position: fixed;
    margin-left: 6%;
    font-family: Calibri;
}

/*delete add to cart link*/
a {
    color: #000000;
    font-family: Calibri;
}

/*cart link*/
#link {
    margin-left: 97%;
    font-family: Calibri;
}

/*edit menu item status*/
#status {
    color: #2e9925;
    top: 20%;
    position: fixed;
    margin-left: 6%;
    font-family: Calibri;
    font-size: 18px;
}

/*menu item list customer notification*/
#notification {
    color: #27ba53;
    top: 20%;
    position: fixed;
    margin-left: 15%;
    font-family: Calibri;
}

/* for title*/
#cart {
    top: 15%;
    position: fixed;
    margin-left: 6%;
    font-size: 30px;
    font-family: Calibri;
}


/*paragraph*/
#empty {
    top: 20%;
    position: fixed;
    margin-left: 6%;
    color: #cbcfca;
    font-family: Calibri;
    font-size: 20px;
}

/*for title*/
#cart-empty {
    color: #155ad1;
    font-family: Calibri;
}

/*menu item list customer notification*/
#cart-notification {
    color: #27ba53;
    top: 18%;
    position: fixed;
    margin-left: 14%;
    font-family: Calibri;
    font-size: 17px;
}

/*name field*/
#name {
    width: 99%;
    font-family: Calibri;
}

/*submit button*/
#submit {
    background-color: #31599e;
    height: 40px;
    width: 200px;
    border: none;
    padding: 5px;
    color: #ffffff;
    font-family: Calibri;
}

/*checkbox*/
#delivery {
    width: 25px;
    height: 25px;
    color: #787878;
    font-family: Calibri;
}

/*form labels*/
.grey {
    color: #787878;
    font-family: Calibri;
}

/*checkbox value*/
#free-delivery {
    font-family: Calibri;
    size: 10px;
    color: #787878;
}

/*for form */
table {
    top: 20%;
    margin-left: 6%;
    position: fixed;
    font-family: Calibri;
}